//
//  Secrets.xcconfig
//  Moovie
//
//  Created by Alexander McGreevy on 2/28/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
TMDB_READ_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MDViY2VkZGYwZTg4OWZkODBkZmQwNjMzYmE3OGNmZiIsIm5iZiI6MTc3MjMwMjczNC41MTQsInN1YiI6IjY5YTMzMThlMDkwY2ZjMWVkZWNjY2UwNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.rJC11FqL_s8DWrabgFNbWD7FpZ2EnC-Vq7rO1VLarVI

TMDB_API_KEY = 505bceddf0e889fd80dfd0633ba78cff
